name: Default
on: [push]
jobs:
  test:
    name: 'test'
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:
    - name: Check out repository code
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.8.0"

    - name: Install Poetry
      run: pip install poetry

    - name: Test
      run: |
        make install
        make test
